* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px 100px 100px !important;
  height: max-content !important;
  box-sizing: border-box;
}

.package-card {
  padding: 20px;
  border-bottom: 1px solid #000;
}
